body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1175px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:25px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:200px;
  width:361px;
  height:34px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:25px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:244px;
  width:234px;
  height:22px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:722px;
  width:126px;
  height:35px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 205, 221, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:314px;
  width:208px;
  height:46px;
}
#u82_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82.selected {
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 205, 221, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:314px;
  width:208px;
  height:46px;
}
#u83_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.selected {
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 205, 221, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:372px;
  width:427px;
  height:46px;
}
#u84_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.selected {
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 205, 221, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:429px;
  width:427px;
  height:46px;
}
#u85_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85.selected {
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:320px;
  width:187px;
  height:35px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:320px;
  width:187px;
  height:35px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:377px;
  width:405px;
  height:35px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:435px;
  width:405px;
  height:35px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:73px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:367px;
  width:361px;
  height:73px;
  color:#FFFFFF;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:28px;
  width:319px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:73px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:424px;
  width:361px;
  height:73px;
  color:#FFFFFF;
  text-align:left;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:28px;
  width:319px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 205, 221, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:485px;
  width:427px;
  height:46px;
}
#u92_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92.selected {
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:490px;
  width:405px;
  height:35px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 205, 221, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:541px;
  width:427px;
  height:161px;
}
#u94_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94.selected {
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:546px;
  width:372px;
  height:38px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u96 {
  position:absolute;
  left:322px;
  top:200px;
  visibility:hidden;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:800px;
  height:417px;
  background-image:none;
}
#u96_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:810px;
  height:427px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:417px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
  background:inherit;
  background-color:rgba(3, 54, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:178px;
  width:113px;
  height:15px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(3, 54, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:227px;
  width:59px;
  height:15px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:90px;
  width:404px;
  height:44px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:162px;
  width:340px;
  height:82px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  text-align:center;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:12px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:383px;
  width:489px;
  height:16px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:12px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:266px;
  width:404px;
  height:88px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
  color:#000000;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:18px;
  width:61px;
  height:22px;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
  color:#000000;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 188, 187, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:52px;
  width:271px;
  height:19px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:38px;
  width:271px;
  height:33px;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:48px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:82px;
  width:122px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u109_img.mouseOver {
  left:-4px;
  top:-4px;
  width:132px;
  height:58px;
}
#u109.mouseOver {
}
#u109_img.selected {
}
#u109.selected {
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:147px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:33px;
  width:83px;
  height:147px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:82px;
  width:118px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u111_img.mouseOver {
  left:-4px;
  top:-4px;
  width:128px;
  height:58px;
}
#u111.mouseOver {
}
#u111_img.selected {
}
#u111.selected {
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:48px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:83px;
  width:215px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u112_img.mouseOver {
  left:-4px;
  top:-4px;
  width:225px;
  height:58px;
}
#u112.mouseOver {
}
#u112_img.selected {
}
#u112.selected {
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:83px;
  width:134px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u113_img.mouseOver {
  left:-4px;
  top:-4px;
  width:144px;
  height:58px;
}
#u113.mouseOver {
}
#u113_img.selected {
}
#u113.selected {
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
