body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:14px;
  background:inherit;
  background-color:rgba(3, 54, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:310px;
  width:189px;
  height:14px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:297px;
  width:189px;
  height:27px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:350px;
  width:74px;
  height:286px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:16px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:350px;
  width:138px;
  height:316px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
  background:inherit;
  background-color:rgba(3, 54, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:310px;
  width:84px;
  height:14px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:297px;
  width:81px;
  height:27px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:363px;
  width:286px;
  height:104px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(3, 54, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:508px;
  width:78px;
  height:14px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:495px;
  width:74px;
  height:27px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:562px;
  width:286px;
  height:104px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:562px;
  width:20px;
  height:25px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:621px;
  width:22px;
  height:20px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:360px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:297px;
  width:405px;
  height:360px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:468px;
  width:51px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:297px;
  width:405px;
  height:360px;
}
#u63_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:360px;
  overflow:hidden;
}
#u64 {
  position:absolute;
  left:321px;
  top:220px;
  visibility:hidden;
}
#u64_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:800px;
  height:314px;
  background-image:none;
}
#u64_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:810px;
  height:324px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:314px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 188, 187, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:50px;
  width:59px;
  height:19px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:35px;
  width:59px;
  height:59px;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:104px;
  width:443px;
  height:57px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:249px;
  width:443px;
  height:57px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
  color:#000000;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:18px;
  width:61px;
  height:22px;
  font-family:'Avenir-Black', 'Avenir Black', 'Avenir Book', 'Avenir';
  font-weight:900;
  font-style:normal;
  color:#000000;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:48px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:82px;
  width:122px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u72_img.mouseOver {
  left:-4px;
  top:-4px;
  width:132px;
  height:58px;
}
#u72.mouseOver {
}
#u72_img.selected {
}
#u72.selected {
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:147px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:33px;
  width:83px;
  height:147px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:82px;
  width:118px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u74_img.mouseOver {
  left:-4px;
  top:-4px;
  width:128px;
  height:58px;
}
#u74.mouseOver {
}
#u74_img.selected {
}
#u74.selected {
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:48px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:83px;
  width:215px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u75_img.mouseOver {
  left:-4px;
  top:-4px;
  width:225px;
  height:58px;
}
#u75.mouseOver {
}
#u75_img.selected {
}
#u75.selected {
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:83px;
  width:134px;
  height:48px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u76_img.mouseOver {
  left:-4px;
  top:-4px;
  width:144px;
  height:58px;
}
#u76.mouseOver {
}
#u76_img.selected {
}
#u76.selected {
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
